@{
    ViewBag.Title = "О проекте";
}
<div class="mrn-top-70">
    <h1>@ViewBag.Title</h1>
    <hr />
</div>
<div class="col-md-12">
    <p>Веб-приложение разрабатывалось в рамках курсового проекта по дисциплине "Управление данными".</p>
    <p>Сайт предоставляет пользователям информацию о книгах и их авторах.</p>
</div>
<h3>Разработчики</h3>
<p><b>Проектирование и разработка:</b> Курилова Алина</p>